<script>
  import { ethers } from 'ethers';
  import { anonymiceAbi, breedingAbi, cheethAbi, cheethv2Abi, cheethv3Abi } from './abi.js';

  /** Components */
  import AppHeader from './AppHeader.svelte';
  import Controls from './Controls.svelte';
  import Mice from './Mice.svelte';
  import Sidebar from './Sidebar.svelte';
  import MouseDetail from './MouseDetail.svelte';
  import AppFooter from './AppFooter.svelte';

  /** Stores */
  import {
    address,
    addressToLookup,
    anonymiceAddress,
    anonymiceContact,
    breedingAddress,
    breedingContract,
    cheethAddress,
    cheethv2Address,
    cheethv3Address,
    cheethContact,
    cheethv2Contact,
    cheethv3Contact,
    miceBabies,
    miceInWallet,
    miceLocked,
    miceStaked,
    miceStakedv2,
    modal,
    provider,
    signer,
  } from './appStores.js';
  
  import { retry } from './helperFunctions.js';

  if (window.ethereum) {
    /** Store providor and signer in appStores.js */
    $provider = new ethers.providers.Web3Provider(window.ethereum);
    $signer = $provider.getSigner();
    /** Store instances of contracts in appStores.js */
    $anonymiceContact = new ethers.Contract($anonymiceAddress, anonymiceAbi(), $signer);
    $cheethContact    = new ethers.Contract($cheethAddress, cheethAbi(), $signer);
    $cheethv2Contact  = new ethers.Contract($cheethv2Address, cheethv2Abi(), $signer);
    $cheethv3Contact  = new ethers.Contract($cheethv3Address, cheethv3Abi(), $signer);
    $breedingContract = new ethers.Contract($breedingAddress, breedingAbi(), $signer);
  }

  /** Get baby mouse token ids */
  async function* getBabyIds(maxIndex) {
    let index = 0;
    while(index <= maxIndex) {
      const id = await $breedingContract.tokenOfOwnerByIndex($addressToLookup, index);
      yield id;
      index++;
    }
  }

  /** Get breeding events */
  async function* getBreedingEvents(maxIndex) {
    let index = 0;
    while(index <= maxIndex) {
      const event = await $breedingContract._addressToBreedingEvents($addressToLookup, index);
      yield event;
      index++;
    }
  }

  /** Get arrays of mice ids owned by address */
  const getMice = async () => {
    if (!$addressToLookup) {
      return;
    }
    console.log('getting mice');
    // Array of mouse ids in wallet
    const walletMice = await retry($anonymiceContact.walletOfOwner, [$addressToLookup]);
    // Array of mouse ids staked in cheeth contract
    const cheethMice = await retry($cheethContact.getTokensStaked, [$addressToLookup]);
    // Array of mouse ids staked in cheeth v2 contract
    const cheethv2Mice = await retry($cheethv2Contact.tokensStaked, [$addressToLookup]);
    // Number of baby mice owned
    const babyMiceBalance = await retry($breedingContract.balanceOf, [$addressToLookup]);
    // Number of breeding events in progress
    const breedingCount = await retry($breedingContract.getBreedingEventsLengthByAddress, [$addressToLookup]);
    const babyMice = [];
    const breedingEvents = [];
    const lockedParents = [];
    for await (const id of getBabyIds(babyMiceBalance-1)) {
      babyMice.push(id);
    }
    // Get all current breeding events to get mice locked in breeding contract
    for await (const event of getBreedingEvents(breedingCount-1)) {
      breedingEvents.push(event);
    }
    breedingEvents.forEach((event) => {
      // event === [breedingEventId, parentId1, parentId2, childId, releaseBlock]
      lockedParents.push(event[1]);
      lockedParents.push(event[2]);
    });
    // Save arrays of mouse ids to stores
    $miceInWallet = walletMice.map(mouse => mouse.toNumber());
    $miceStaked   = cheethMice.map(mouse => mouse.toNumber());
    $miceStakedv2 = cheethv2Mice.map(mouse => mouse.toNumber());
    $miceBabies   = babyMice.map(mouse => mouse.toNumber());
    $miceLocked   = lockedParents;
  };

  /**
   * Run getMice() when we have an address, or when address changes.
   * Wallet.svelte sets the $address store.
   */
  $: ethers.utils.isAddress( $addressToLookup ) && getMice();

</script>

<svelte:head>
  {#if $modal}
    <style>
      html {
        overflow: hidden;
      }
    </style>
  {/if}
</svelte:head>

<main>
  <AppHeader />
  <Controls />
  <Sidebar on:getMice={getMice} />
  <div id="mice">
    <Mice label="mice doing nothing"      mice={$miceInWallet} type="genesis"/>
    <Mice label="mice earning v1 $Cheeth" mice={$miceStaked}   type="genesis"/>
    <Mice label="mice earning v2 $Cheeth" mice={$miceStakedv2} type="genesis"/>
    <Mice label="mice locked in breeding" mice={$miceLocked}   type="genesis"/>
    <Mice label="baby mice"               mice={$miceBabies}   type="baby"/>
  </div>
  <MouseDetail />
  <AppFooter />
</main>

<style>
  main {
    margin: 0 auto;
    padding: 15px;
    min-height: 100%;
    box-sizing:border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto auto;
    grid-template-areas: "header"
                         "controls"
                         "sidebar"
                         "mice"
                         "detail"
                         "footer";
  }

  #mice {
    grid-area:  mice;
    padding: 30px;
  }

  @media (min-width: 640px) {
    main {
      grid-template-columns: 275px 1fr auto;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "header header header"
                           "controls controls controls"
                           "sidebar mice detail"
                           "footer footer footer";
    }
  }
</style>
