<script>
  
</script>

<footer>
  <div id="disclaimer">
    <span>Disclaimer: This website is an unofficial website to make interacting with Anonymice easier and more fun.</span>
    <span>Use at your own risk. We are not responsible for any losses if there are any incurred.</span>
  </div>
  <div class="contracts">
    <div class="contract">
      <span class="label">Anonymice</span>
      <a href="https://etherscan.io/address/0xbad6186e92002e312078b5a1dafd5ddf63d3f731" target="_blank" rel="noreferrer">0xbad6186e92002e312078b5a1dafd5ddf63d3f731</a>
    </div>
    <div class="contract">
      <span class="label">Breeding</span>
      <a href="https://etherscan.io/address/0x15Cc16BfE6fAC624247490AA29B6D632Be549F00" target="_blank" rel="noreferrer">0x15Cc16BfE6fAC624247490AA29B6D632Be549F00</a>
    </div>
    <div class="contract">
      <span class="label">Cheeth</span>
      <a href="https://etherscan.io/address/0xeBd707E7b27c6c14C98a327e332a0DF7C6C015b0" target="_blank" rel="noreferrer">0xeBd707E7b27c6c14C98a327e332a0DF7C6C015b0</a>
    </div>
  </div>
</footer>

<style>
  footer {
    color: var(--dark-font);
    grid-area: footer;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  #disclaimer {
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    padding-right: 10px;
  }

  .contracts {
    font-size: 0.95em;
    min-width: 400px;
    display: inline-block;
    font-family: monospace;
    margin-left: auto;
    padding-bottom: 5px;
  }

  .contract {
    display: flex;
    color: var(--dark-font);
  }

  .contract > a {
    margin-left: auto;
    color: var(--dark-font);
  }
</style>
