<script> 
  import Wallet from './Wallet.svelte';
</script>

<header>
  <span>Anonymice</span>
  <Wallet />
</header>

<style>
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    font-size: 30px;
    border-bottom: 5px dashed var(--light-border);
  }

  @media (min-width: 640px) {
    header {
      flex-direction: row;
      align-items: center;
    }
  }
</style>
