<script>
  import { ethers } from 'ethers';
  import { parseDataUriResult, retry } from './helperFunctions.js';

  /** Stores */
  import {
    address,
    addressToLookup,
    anonymiceContact,
    babyIncubators,
    babyMiceMetadata,
    babyMouseID,
    breedingContract,
    burnAddress,
    cheethAddress,
    genesisMouseID,
    miceMetadata,
    selectedMouse,
    selectedMouseType,
  } from './appStores.js';

  let lookupAddress;
  let lookOfDisapproval;

  const showMyMice = () => {
    $addressToLookup = $address;
    lookupAddress.value = '';
    lookOfDisapproval = false;
  };

  const lookupMice = () => {
    if (lookupAddress.value.toLowerCase() === $cheethAddress.toLowerCase()) {
      lookOfDisapproval = true;
      return;
    }
    if (lookupAddress.value.toLowerCase() === $burnAddress.toLowerCase()) {
      lookOfDisapproval = true;
      return;
    }
    lookOfDisapproval = false;
    if (ethers.utils.isAddress( lookupAddress.value )) {
      $addressToLookup = lookupAddress.value;
    }
  }

  const validateInput = (e) => {
    // No spaces
    if (e.key === ' ') {
      e.preventDefault();
    }
    // Numbers only
    const num = Number(e.key);
    if (Number.isNaN(num)) {
      e.preventDefault();
    }
    if (Number(`${e.target.value}${e.key}`) > 9999) {
      e.target.value = '';
    }
  };

  let invalid = false;
  const validateAddress = () => {
    if (lookupAddress.value === '') {
      invalid = false;
      return;
    }
    if (!ethers.utils.isAddress( lookupAddress.value )) {
      invalid = true;
    } else {
      invalid = false;
    }
  };

  const selectBaby = async () => {
    console.log('selectBaby')
    $genesisMouseID = '';
    $selectedMouse = null;
    if (!$babyMouseID || $babyMouseID > 9999) {
      return;
    }
    // Get the baby incubator info so we can see babies parents
    const getIncubator = (tokenId) => {
      return $breedingContract._tokenToIncubator(tokenId);
    };
    let incubator = await retry(getIncubator, [$babyMouseID]);
    incubator = incubator.map(mouse => mouse.toNumber());
    console.log('set incu', incubator)
    $babyIncubators.set($babyMouseID, incubator);
    const getBabyMouse = (tokenId) => {
      return $breedingContract.tokenURI(tokenId);
    };
    const dataURI = await retry(getBabyMouse, [$babyMouseID]);
    const tokenMetadata = parseDataUriResult(dataURI);
    $babyMiceMetadata.set($babyMouseID, tokenMetadata);
    $selectedMouseType = 'baby';
    $selectedMouse = $babyMouseID;
  };

  const selectGenesis = async () => {
    $babyMouseID = '';
    $selectedMouse = null;
    if (!$genesisMouseID || $genesisMouseID > 9999) {
      return;
    }
    const getGenesisMouse = (tokenId) => {
      return $anonymiceContact.tokenURI(tokenId);
    };
    const dataURI = await retry(getGenesisMouse, [$genesisMouseID]);
    const tokenMetadata = parseDataUriResult(dataURI);
    $miceMetadata.set($genesisMouseID, tokenMetadata);
    $selectedMouseType = 'genesis';
    $selectedMouse = $genesisMouseID;
  };
</script>

<div class="controls">
  <div class="mice-lookup">
    <input
      bind:this={lookupAddress}
      on:input={validateAddress}
      class:invalid
      type="text"
      id="address-lookup"
      placeholder="Enter ETH Address...">
    <div>
      <button on:click={showMyMice}>Show My Mice</button>
      <button on:click={lookupMice}>Lookup Mice</button>
      {#if lookOfDisapproval}
        <span>ಠ_ಠ</span>
      {/if}
    </div>
  </div>
  <div class="mice-lookup">
    <input
      bind:value={$genesisMouseID}
      on:keypress={validateInput}
      id="genesis-lookup"
      type="text"
      placeholder="Genesis Mouse ID">
    <button on:click={selectGenesis}>Lookup Mouse</button>
  </div>
  <div class="mice-lookup">
    <input
      bind:value={$babyMouseID}
      on:keypress={validateInput}
      id="baby-lookup"
      type="text"
      placeholder="Baby Mouse ID">
    <button on:click={selectBaby}>Lookup Mouse</button>
  </div>
</div>

<style>
  .controls {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    min-height: 100px;
    border-bottom: 5px dashed var(--light-border);
  }

  .mice-lookup {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  input {
    background-color: var(--mouse-background);
    color: white;
  }

  .invalid {
    color: red;
  }

  @media (min-width: 640px) {
    .controls {
      flex-direction: row;
    }
  }
</style>
