<script>
  import { onMount } from 'svelte';

  /** Stores */
  import {
    modal,
    selectedMouse,
    selectedMouseType,
  } from './appStores.js';

  /** String of svg text */
  export let text = '';
  export let showConvert;

  let svg = null;
  let canvas;
  // let img;
  let width;
  let height;
  let svgContainer;
  let maxWidth;

  const loadSVG = () => {
    svgContainer.innerHTML= text;
    svg = svgContainer.querySelector('svg');
    width = svg.getBoundingClientRect().width;
    height = svg.getBoundingClientRect().height;
    maxWidth = width;
    setSvgDimensions({size: 512});
  };

  const setSvgDimensions = (options={}) => {
    if (options.size) {
      width = options.size;
    }
    height = width;
    svg.setAttribute('width', width);
    svg.setAttribute('height', height);
  };

  const save = () => {
    canvas.width = width;
    canvas.height = height;
    const data = new XMLSerializer().serializeToString(svg);
    const win = window.URL || window.webkitURL || window;
    const img = new Image();
    const blob = new Blob([data], { type: 'image/svg+xml' });
    const reader = new FileReader();
    reader.readAsDataURL(blob);
    reader.onload = function(e) {
      const svgDataURL = e.target.result;
      img.setAttribute('crossorigin', 'anonymous');
      img.src = svgDataURL;
    }
    img.onload = function () {
      canvas.getContext('2d').drawImage(img, 0, 0);
      const uri = canvas.toDataURL('image/png').replace('image/png', 'octet/stream');
      const a = document.createElement('a');
      document.body.appendChild(a);
      a.style = 'display: none';
      a.href = uri;
      a.download = `${$selectedMouseType}-mouse-${$selectedMouse}.png`;
      a.click();
      win.revokeObjectURL(uri);
      document.body.removeChild(a);
    };
  };

  onMount(() => {
    loadSVG();
  });

  const onRange = (e) => {
    width = e.target.value;
    setSvgDimensions();
  };

  const close = () => {
    showConvert = false;
    // 
    $modal = false;
  }
</script>

<div id="convert">
  <div bind:this={svgContainer} class="svg-container"></div>
  <div class="controls">
    <input bind:value={width} on:input={setSvgDimensions} type="number" max="9999"/>
    <input bind:value={height} class="hidden" type="number" max="9999"/>
    <input bind:value={width} on:input={onRange} type="range" min="64" max="{maxWidth}" id="size" step="16">
    <div class="buttons">
      <button on:click={save} id="save">Save as PNG</button>
      <button on:click={close}>Close</button>
    </div>
    <canvas bind:this={canvas} class="hidden"></canvas>
  </div>
</div>

<style>  
  #convert {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--dark-background);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .controls {
    display: flex;
    margin: 10px 0;
  }

  input {
    background-color: black;
    color: var(--dark-font);
  }

  .buttons {
    margin-left: auto;
  }

  .hidden {
    display: none;
  }
</style>
