<script>

</script>

<div class="links">
  <h3>Official Sites</h3>
  <a href="https://anonymice.com/" target="_blank">Anonymice.com</a>
  <h3>Community Resources</h3>
  <a href="https://anonymice.org/" target="_blank">Anonymice.org</a>
  <h3>Fun Stuff</h3>
  <a href="https://cheez.sh/" target="_blank">cheez.sh</a>
  <a href="https://anonymicegraveyard.github.io/" target="_blank">Anonymice Graveyard</a>
  <a href="https://anonymicebloodlines.github.io/" target="_blank">Anonymice Bloodlines</a>
  <a href="https://ab9518.github.io/anonymice/" target="_blank">Anonymice Animator</a>
  <h3>Markets</h3>
  <a href="https://opensea.io/collection/anonymice" target="_blank">Opensea Genesis Mice</a>
  <a href="https://opensea.io/collection/anonymice-babies" target="_blank">Opensea Baby Mice</a>
  <h3>Social Media</h3>
  <a href="https://twitter.com/AnonymiceNFT" target="_blank">Twitter</a>
  <a href="http://discord.gg/BAyzSyRsWF" target="_blank">Discord</a>
  <h3>$CHEETH</h3>
  <a href="https://info.uniswap.org/#/pools/0x8d2c8580ebdf6c0d345a9795c25aa65470ea6e32" target="_blank">Liquidity Pool</a>
  <a href="https://dexscreener.com/ethereum/0x8d2c8580ebdf6c0d345a9795c25aa65470ea6e32" target="_blank">Dexscreener Chart</a>
</div>

<style>
  h3 {
    margin-bottom: 10px;
  }

  a {
    font-size: .75em;
    color: var(--dark-font);
    display: block;
  }
</style>
