<script>
  import Mouse from './Mouse.svelte';

  /** Array of mice ids */
  export let mice = [];
  export let label;
  export let type;

</script>

<div>
  <h2>{label} ({mice.length})</h2>
  <div class="mice">
    {#each mice as id}
      <Mouse {id} {type}/>
    {/each}
  </div>
</div>

<style>
  h2 {
    font-weight: lighter;
    font-size: 0.875em;
  }

  .mice {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 135px);
    margin-top: 15px;
    font-size: 0.875rem;
  }

  @media (min-width: 640px) {
    h2 {
      font-size: 1em;
    }
  }
</style>
