<script>
  import { parseDataUriResult, retry } from './helperFunctions.js';

  /** Stores */
  import {
    anonymiceContact,
    babyIncubators,
    babyMiceMetadata,
    babyMouseID,
    breedingContract,
    currentBlock,
    genesisMouseID,
    miceMetadata,
    selectedMouse,
    selectedMouseType,
  } from './appStores.js';

  export let id;
  export let type;

  let image = '';
  let incubator = false;

  const getGenesisMouse = (tokenId) => {
    return $anonymiceContact.tokenURI(tokenId);
  };

  const getBabyMouse = (tokenId) => {
    return $breedingContract.tokenURI(tokenId);
  };

  const getIncubator = (tokenId) => {
    return $breedingContract._tokenToIncubator(tokenId);
  };

  /** Get token metadata as json from contract */
  const getTokenData = async (tokenId) => {
    let tokenMetadata = $miceMetadata.get(id);
    // Check if we already have this mouse stored in memory
    if (tokenMetadata) {
      image = tokenMetadata.image;
      return;
    }
    image = '';
    let dataURI;
    if (type === 'baby') {
      dataURI = await retry(getBabyMouse, [tokenId]);
      // Get the baby incubator info so we can see babies parents
      let incubator = await retry(getIncubator, [tokenId]);
      incubator = incubator.map(mouse => mouse.toNumber());
      $babyIncubators.set(tokenId, incubator);
    } else {
      dataURI = await retry(getGenesisMouse, [tokenId]);
    }
    tokenMetadata = parseDataUriResult(dataURI);
    image = tokenMetadata.image;
    // Save the token metadata in memory
    if (type === 'genesis') {
      $miceMetadata.set(id, tokenMetadata);
    } else if (type === 'baby') {
      $babyMiceMetadata.set(id, tokenMetadata);
    }
    // Flag this mouse as an incubator so the image updates when block changes
    if (tokenMetadata.name.includes('Incubator')) {
      incubator = true;
    }
    return tokenMetadata;
  };

  const refreshIncubator = async () => {
    if (incubator) {
      let tokenMetadata = $babyMiceMetadata.get(id);
      const dataURI = await retry(getBabyMouse, [id]);
      tokenMetadata = parseDataUriResult(dataURI);
      image = tokenMetadata.image;
      $babyMiceMetadata.set(id, tokenMetadata);
      // If this mouse is selected, reassign $selectedMouse to refresh MouseDetail.
      if ($selectedMouse === id) {
        $selectedMouse = null;
        $selectedMouse = id;
      }
    }
  };

  /** Get mouse data when id is set */
  $: id && getTokenData(id);

  /** Refresh the incubator image each block */
  $: $currentBlock && refreshIncubator();

  const selectMouse = () => {
    // Deselect mouse
    if ($selectedMouse === id) {
      $selectedMouse = null;
      $selectedMouseType = null;
      return;
    }
    // Prevent selecting mouse until metadata is loaded
    if (type === 'genesis' && $miceMetadata.get(id)) {
      $selectedMouse = id;
      $selectedMouseType = type;
    } else if (type === 'baby' && $babyMiceMetadata.get(id)) {
      $selectedMouse = id;
      $selectedMouseType = type;
    }
    $babyMouseID = '';
    $genesisMouseID = '';
  };
</script>

<div class="mouse" class:selected={$selectedMouse === id} on:click={selectMouse}>
  <img src="{image}" alt="mouse">
  <span class="mouse-id">{id}</span>
</div>

<style>
  .mouse {
    display: flex;
    flex-direction: column;
    height: 165px;
    width: 135px;
    box-sizing: border-box;
    background-color: var(--mouse-background);
    border: 1px solid var(--light-border);
    cursor: pointer;
    padding: 3px;
  }

  .selected {
    border: 2px solid;
  }

  .mouse-id {
    display: block;
    text-align: center;
    margin-top: auto;
  }
</style>
