<script>
  import Convert from './Convert.svelte';
  import Mouse from './Mouse.svelte';

  import { formatBalance } from './helperFunctions';

  /** Stores */
  import {
    anonymiceAddress,
    babyIncubators,
    babyMiceMetadata,
    babyMouseID,
    breedingAddress,
    cheethContact,
    currentBlock,
    genesisMouseID,
    miceMetadata,
    miceStaked,
    modal,
    selectedMouse,
    selectedMouseType,
  } from './appStores.js';

  /** src for <img> */
  let image = '';

  let attributes = [];
  let incubator = [];

  /** hide/show the convert modal */
  let showConvert;

  /** SVG string for Convert component */
  let svg;

  /** Unclaimed cheeth balance for staking genesis mouse */
  let cheethBalance = 0;

  let openseaLink = '';

  /** Convert result from contract.tokenURI() */
  const parseSvg = (imageDataUrl) => {
    // 26 = length of "data:image/svg+xml;base64,"
    console.log({imageDataUrl})
    const svg = window.atob(imageDataUrl.substring(26));
    return svg;
  };

  const loadMouse = async () => {
    console.log('loadMouse() type:', $selectedMouseType);
    cheethBalance = 0;
    let metadata;
    if ($selectedMouseType === 'genesis') {
      metadata = $miceMetadata.get($selectedMouse);
    } else if ($selectedMouseType === 'baby') {
      metadata = $babyMiceMetadata.get($selectedMouse);
    }
    if (metadata) {
      image = metadata.image;
      svg = parseSvg(image);
      attributes = metadata.attributes;
      if ($selectedMouseType === 'baby') {
        incubator = $babyIncubators.get($selectedMouse);
        openseaLink = `https://opensea.io/assets/${$breedingAddress}/${$selectedMouse}`;
      } else {
        getCheethBalance($selectedMouse).catch(err => {
          console.log(err.message);
        });
        openseaLink = `https://opensea.io/assets/${$anonymiceAddress}/${$selectedMouse}`;
      }
    }
  };

  const getCheethBalance = async (mouseId) => {
    if ($miceStaked.includes(mouseId)) {
      const unclaimedRewards = await $cheethContact.getRewardsByTokenId(mouseId);
      cheethBalance = formatBalance(unclaimedRewards);
    }
  };

  const saveImage = () => {
    $modal = true;
    showConvert = true;
  };

  const close = () => {
    $selectedMouse = null;
    $babyMouseID = '';
    $genesisMouseID = '';
  };

  /** Load image and attributes when selectedMouse is set */
  $: $selectedMouse && loadMouse();

  $: $selectedMouse && $currentBlock && getCheethBalance($selectedMouse);

</script>

<div class="mouse-detail">
  {#if $selectedMouse}
    <div class="selected-mouse">
      {#if cheethBalance > 0}
        <span class="cheeth-balance">🧀 {cheethBalance}</span>
      {/if}
      <button class="close-btn" on:click={close}>close</button>
      {#if $selectedMouseType === 'baby'}
        <div class="baby-parents">
          <span>Parent 1</span>
          <span>Parent 2</span>
          <Mouse id={incubator[0]} type="genesis"/>
          <Mouse id={incubator[1]} type="genesis"/>
        </div>
      {/if}
      <img src="{image}" alt="mouse">
      <div class="selected-id">{$selectedMouse}</div>
      <button class="save-image" on:click={saveImage}>Save as png</button>
      <a href="{openseaLink}" class="opensea-link" target="_blank">View On Opensea</a>
      <div class="metadata">
        {#each attributes as attribute}
          <div class="attribute">
            <span class="trait-type">{attribute.trait_type}</span>
            <span class="value">{attribute.value}</span>
          </div>
        {/each}
      </div>
    </div>
    {#if showConvert}
      <Convert text={svg} bind:showConvert />
    {/if}
  {/if}
</div>

<style>
  .mouse-detail {
    grid-area: detail;
  }

  .selected-mouse {
    width: 400px;
    padding: 15px;
    margin-top: 30px;
    border: 1px solid var(--light-border);
    position: relative;
  }

  .close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .selected-id {
    text-align: center;
    margin: 10px 0;
  }

  .opensea-link {
    display: block;
    text-align: center;
  }

  .baby-parents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 5px;
    margin-top: 40px;
  }

  .metadata {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    font-size: .75em;
  }

  .attribute {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    border: 1px dashed var(--light-border);
  }

  .trait-type {
    margin-bottom: 5px;
  }

  .value {
    color: var(--blue-font);
  }

  .save-image {
    margin: 5px auto;
    display: block;
  }

  @media (min-width: 640px) {

  }
</style>
