<script>
  import Links from './Links.svelte';
  import { createEventDispatcher } from 'svelte';

  /** Stores */
  import {
    address,
    addressToLookup,
    anonymiceContact,
    cheethAddress,
    cheethv2Address,
    cheethContact,
    cheethv2Contact,
    miceApprovedForStaking,
    miceInWallet,
    miceStaked,
    provider,
    unclaimedCheethBalance,
    unclaimedCheethv2Balance,
  } from './appStores.js';

  const dispatch = createEventDispatcher();

  /** Input element bindings */
  let mouseIdsToUnstake;
  let mouseIdsToStake;

  /** Input placeholder text */
  let unstakePlaceholder;
  let stakePlaceholder;

  $: unstakePlaceholder = $miceStaked.slice(0, 3);
  $: stakePlaceholder = $miceInWallet.slice(0, 3);

  const approveMice = async () => {
    await $anonymiceContact.setApprovalForAll($cheethv2Address, true);
    $miceApprovedForStaking = await $anonymiceContact.isApprovedForAll($address, $cheethv2Address);
  };

  const claimCheeth = async () => {
    if ($unclaimedCheethv2Balance === 0) {
      return;
    }
    await $cheethv2Contact.claimAllRewards();
  };

  const stakeMice = async () => {
    const ids = mouseIdsToStake.value;
    if (ids === '') {
      return;
    }
    let idArray = ids.split(',');
    idArray = idArray.filter(id => id !== '');
    const txn = await $cheethv2Contact
      .stakeMiceByIds(idArray)
      .catch(err => {
        if (err.code === 4001) {
          return console.log('stake mice canceled.');
        } else if (err.message.includes('Token must be stakable by you!')) {
          return console.log(`Cannot stake a mouse that doesn't belong to you.`);
        }
        console.log(err);
      });
    if (txn) {
      const hash = txn.hash;
      $provider.once(hash, (transaction) => {
        console.log('Mice staked!', transaction);
        dispatch('getMice');
        mouseIdsToStake.value = '';
      });
    }
  };

  const unstakeAll = async () => {
    const txn = await $cheethContact
      .unstakeAll()
      .catch(err => {
        if (err.code === 4001) {
          return console.log('Unstake all canceled.');
        }
        console.log(err);
      });
    if (txn) {
      const hash = txn.hash;
      $provider.once(hash, (transaction) => {
        console.log('Mice unstaked!', transaction);
        dispatch('getMice');
        mouseIdsToUnstake.value = '';
      });
    }
  };

  const unstakeByIds = async () => {
    const ids = mouseIdsToUnstake.value;
    if (ids === '') {
      return;
    }
    let idArray = ids.split(',');
    idArray = idArray.filter(id => id !== '');
    const txn = await $cheethContact
      .unstakeMiceByIds(idArray)
      .catch(err => {
        if (err.code === 4001) {
          return console.log('Unstake by ids canceled.');
        } else if (err.message.includes('Message Sender was not original staker!')) {
          return console.log(`Cannot unstake a mouse that doesn't belong to you.`);
        }
        console.error(err);
      });
    if (txn) {
      const hash = txn.hash;
      $provider.once(hash, (transaction) => {
        console.log('Mice unstaked!', transaction);
        dispatch('getMice');
        mouseIdsToUnstake.value = '';
      });
    }
  };

  const validateInput = (e) => {
    if (e.key === ',') {
      return;
    } else if (e.key === ' ') {
      // No spaces
      e.preventDefault();
    }
    // Numbers only
    const num = Number(e.key);
    if (Number.isNaN(num)) {
      e.preventDefault();
    }
  };

</script>

<div class="sidebar">
  <Links />
</div>

<style>
  .sidebar {
    grid-area: sidebar;
    font-size: 0.875em;
    padding: 15px;
  }

</style>
