<script>
  import { onMount } from 'svelte';
  import { formatAddress, formatBalance, retry } from './helperFunctions.js';

  /** Stores */
  import {
    address,
    addressToLookup,
    anonymiceContact,
    cheethAddress,
    cheethv2Address,
    cheethv3Address,
    cheethBalance,
    cheethv2Balance,
    cheethContact,
    cheethv2Contact,
    cheethv3Contact,
    cheethTransfers,
    currentBlock,
    ethBalance,
    // miceApprovedForStaking,
    // miceStakedv2,
    network,
    provider,
    selectedMouse,
    signer,
    // unclaimedCheethBalance,
    // unclaimedCheethv2Balance,
    walletConnected,
  } from './appStores.js';

  /** Connect wallet. Store address and balance */
  const connect = async () => {
    if (window.ethereum) {
      await $provider.send('eth_requestAccounts', []);
      await setWalletStores(); 
    }
  };

  /** Check if mice are approved for staking in the cheeth contract */
  const miceApproved = async () => {
    return $anonymiceContact.isApprovedForAll($address, $cheethv2Address);
  };

  /** Get current eth balance in wallet */
  const getEthBalance = async (address) => {
    return $provider.getBalance(address);
  };

  /** Get current cheeth balance in wallet */
  const getCheethBalance = async (address) => {
    return $cheethv3Contact.balanceOf(address);
  };

  /** Get current cheeth balance in wallet */
  // const getCheethv2Balance = async (address) => {
  //   return $cheethv2Contact.balanceOf(address);
  // };

  /** Save ETH address, balances, and approval to stores in appStores.js */
  const setWalletStores = async () => {
    try {
      console.log('Get wallet address...');
      $address = await $signer.getAddress();
      $addressToLookup = $address;
      console.log(`Connected: ${$address}`);
      // Get ETH Balance
      const ethBalanceInWei = await retry (getEthBalance, [$address]);
      $ethBalance = formatBalance(ethBalanceInWei);
      // Get CHEETH Balance
      const cheethBalanceInWei = await retry(getCheethBalance, [$address]);
      // const cheethv2BalanceInWei = await retry(getCheethv2Balance, [$address]);
      $cheethBalance = formatBalance(cheethBalanceInWei);
      // $cheethv2Balance = formatBalance(cheethv2BalanceInWei);
      // Get unclaimed CHEETH Balance
      // const unclaimed = await retry(getUnclaimedCheethBalance, [$address]);
      // const unclaimedv2 = await retry(getUnclaimedCheethv2Balance, [$address]);
      // $unclaimedCheethBalance = formatBalance(unclaimed);
      // $unclaimedCheethv2Balance = formatBalance(unclaimedv2);
      // const transferFilter = $cheethContact.filters.Transfer([$address]);
      // const events = await $cheethContact.queryFilter(transferFilter);
      // $cheethTransfers = events;
      // console.log(events[0].args[2].toString())
      // Check if mice are approved in cheeth contract
      // console.log('Check if mice are approved for staking...');
      // const approved = await retry(miceApproved);
      // console.log(`Mice Approved: ${approved}`);
      // $miceApprovedForStaking = approved;
      $walletConnected = true;
    } catch(e) {
      if (e.operation === 'getAddress') {
        console.log('Wallet Not Connected');
        $walletConnected = false;        
      } else {
        console.log(e);
      }
    }
  };

  onMount(async () => {
    await setWalletStores();
    // Make sure user has web3 browser before setting up event handlers
    if (window.ethereum) {
      $network = await $provider.getNetwork();
      console.log($network);

      window.ethereum.on('accountsChanged', async (accounts) => {
        setWalletStores();
        $selectedMouse = null;
      });

      /** Refresh the unclaimed cheeth balance */
      // $provider.on('block', async (blockNumber) => {
      //   $currentBlock = blockNumber;
      //   if ($address && $miceStakedv2.length > 0) {
      //     const unclaimed = await retry(getUnclaimedCheethv2Balance, [$address]);
      //     $unclaimedCheethv2Balance = formatBalance(unclaimed);
      //   }
      // });
    
      // $cheethContact.on('Transfer', (amount, from, to) => {
      //   console.log({to, amount, from});
      // });
    }
  });



</script>

<div class="wallet">
  {#if $walletConnected}
    <span class="address">{formatAddress($address)}</span>
    <span class="balance">{$ethBalance} ETH</span>
    <span class="balance">{$cheethBalance} $CHEETH</span>
  {:else}
    <button on:click={connect}>Connect Wallet</button>
  {/if}
</div>

<style>
  .wallet {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .address {
    padding-bottom: 5px;    
  }

  .balance {
    display: block;
    width: 200px;
    padding-bottom: 5px;
  }

  @media (min-width: 640px) {
    .wallet {
      flex-direction: row;
      align-items: center;
      margin-left: auto;
    }

    .address {
      padding-bottom: 0;    
    }

    .balance {
      text-align: right;
      padding-bottom: 0;
    }
  }
</style>
